.response_card {
    border-style: solid;
    border-color: rgb(96, 165, 5);
    box-shadow: 0 0 15px rgb(187, 102, 4);
    border-radius: 8%;
    font-size: large;
    max-width: 400px;
   margin:20px;
   min-height:300px;
   padding:15px;
}

main {
    margin-left: 15pt;
    margin-right: 15pt;
    background-color: blue;

}

.response_cont{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
flex-wrap:wrap;
}
.photo{
    background:url("https://img.freepik.com/premium-photo/magic-performance-circus-show-concept-magician-in-top-hat-showing-trick_380164-43709.jpg?size=626&ext=jpg") center no-repeat;
    width:50px;
    height:50px;
    border-radius:50%;
    background-size:cover;

}.photo1{
    background:url("https://фея74.рф/upload/iblock/4d5/4d56481069104e462662d136eada2a7c.jpg") center no-repeat;
    width:100px;
    height:100px;
    border-radius:50%;
    background-size:cover;

}
.photo2{
    background:url("https://l-kapriz.by/sites/default/files/styles/1200x800/public/gallery/24_0.jpg") center no-repeat;
    width:100px;
    height:100px;
    border-radius:50%;
    background-size:cover;

    
}
@media screen and (max-width:450px){
    .photo{
        width:70px;
        height:70px;;
    }
    .photo2{
        width:70px;
        height:70px;
    }
    .photo1{
        width:70px;
        height:70px;;
    }
}
    
